body {
  background-color: white;
}

footer {
  text-align: center;
  background-color: #8fbc8f ;
  height: 50px;
  width: 100%;
}

header {
  background-color: #8fbc8f;
  display: block;
  margin-bottom: 2%;
  height: 200px;
}

h1 {
  text-align: center;
  width: 400px;
  display: inline-block;
  margin-top: 6.75%;
  margin-left: 12%;
  font-family: times;
  font-style: italic;
}

p {
  width: 565px;
  background-color: #dc143c;
  margin-top: 20px;
  margin-left: 4px;
  padding: 2.5px;
}


.linkList li {
  background-color: #8fbc8f;
  display: inline-block;
  float: right;
  margin: 4px;
  margin-top: 2%;
}

.songList li{
  list-style: none;
  padding: 1.5px;
}
.songList2 li{
  list-style: none;
  padding: 1.5px;
}

#deadHead {
  background-image: url('https://i.ytimg.com/vi/N7lMxNfb7rw/hqdefault.jpg');
  height: 125px;
  width: 170px;
  display: inline-block;
  float: left;
  border-radius: 50%;
  background-size: cover;
  margin-left: 2.5%;
  margin-top: 2.5%;
}


#middleRight {
  background-color: #bdb76b;
  float: right;
  width: 500px;
  height: 797px;
  margin-right: 13px;
}

#bandPhoto {
  background-image: url('http://assets.rollingstone.com/assets/2014/article/grateful-deads-1972-german-concert-to-hit-movie-theaters-this-summer-20140609/15669/_original/1035x825-20140609-gratefuldead-1800-1402334219.jpg');
  height: 100px;
  width: 100px;
  border-radius: 15%;
  background-size: cover;
  float: left; 
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px; 
}

.songList li{
  border-bottom: dashed;
  border-bottom-width: 1px;
  margin-right: 10px;
}

.songList2 li{
  border-bottom: dashed;
  border-bottom-width: 1.5px;
  margin-right: 10px;
}

.songList li:nth-child(2n+2) {
  background-color: #8fbc8f;
  margin-right: 10px;
}
.songList2 li:nth-child(2n+2) {
  background-color: #8fbc8f;
  margin-right: 10px;
}

h4 {
  margin-left: 25%;
  text-decoration: underline;
}

#Copyright {
  padding-top: 16px;
}









